/* Body and structure
-------------------------------------------------- */
body {
	color: #ebebeb;
	font-family: 'jaf-domus-titling-web', sans-serif;
	/*background-color: #282828;*/
	font-weight: 600;
}
	body p {
		font-weight: 400;
	}
/* Top Bar
-------------------------------------------------- */
.top-bar, .top-bar ul {
    background-color: transparent;
}
.top-bar {
	text-align:center;
}
.top-bar-center {
	display: inline-block;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
}
	#mainFlex.flex-container {
		/*top: 150px;*/
    	top: 50%;
    	bottom: 50% 
	}
		#flexTopBar {
		    top: 10%;
		}

.flex-item {
    margin: 15px;
}


#element-with-background-image {
   width: 1366px;
   height: 768px;
   background-image: url("../img/homeModel.png");
   background-repeat: no-repeat;
   z-index: -999;
}