/* Body and structure
-------------------------------------------------- */
body {
	color: #ebebeb;
	font-family: 'jaf-domus-titling-web', sans-serif;
	/*background-color: #282828;*/
	font-weight: 600;
}
	body p {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 400;
	}
		h1, h2, h3, h4, h5, h6 {
			font-family: 'jaf-domus-titling-web', sans-serif;
			font-weight: 600;
			color: #FCC945;
		}
#main {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 50%;
    	bottom: 50%
}

	#main-background-image {
	   width: 1366px;
	   height: 768px;
	   background-image: url("../img/homeModel.png");
	   background-repeat: no-repeat;
	   z-index: -999;
	}
		#main-word-content {
			width: 35%;
		    margin-top: 150px;
		    margin-left: 100px;
		}
			#main-word-content p {
				margin-top: 30px;
			}

/* Top Bar
-------------------------------------------------- */
.top-bar, .top-bar ul {
    background-color: transparent;
}
.top-bar {
	text-align:center;
}
.top-bar-center {
	display: inline-block;
}

/* Flex
-------------------------------------------------- */
.flex-item {
    margin: 15px;
}
#pics {
	display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
}